.hidden{
  display: none;
}
.error_message {
  color: #c62828;
}
.app {
  height: 100%;
}
.app.ios {
  padding-top: 20px;
}

/* Lists */
.list_a, .list_b {
  margin: 0 auto;
}
.list_a li {
  border-bottom: 1px solid #84ce8f;
  background-color: #34bf49;
}
.list_a li.signatureField {
  background-color: transparent;
}

.list_b li{
  display: inline-block;
  background-color: #34bf49;
}
.list_a .list_item {
  display: block;
  padding: 15px 10px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
}
.button_inactive {
  background-color: #b2e4ba;
}
#document_list i {
  display: inline-block;
  margin-top: 13px;
}


.center_screen {
  position: absolute;
  left: 50%;
  top: 50%;
}
#loading_view {
  height: 50px;
  width: 225px;
  text-align: center;
  margin: -25px 0px 0px -112px;
}
#error_view {
  height: 60px;
  width: 225px;
  text-align: center;
  margin: -75px 0px 0px -112px;
}
.overlay_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
}

.overlay_modal .loading {
  width: 200px;
  height: 125px;
  margin: -85px 0px 0px -100px;
  border-radius: 10px;
  text-align: center;
  padding: 50px 10px 0 10px;
  background-color: #FFF;
}

/* Send Pdf Dialog */
.overlay_modal .send_pdf_dialog {
  width: 300px;
  height: 165px;
  margin: -100px 0px 0px -150px;
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  background-color: #FFF;
}

.overlay_modal .send_pdf_dialog #send_to {
  margin: 10px 0;
}
.overlay_modal .send_pdf_dialog ul {
  position: absolute;
  bottom: 0;
  left: 0;
}
.overlay_modal .send_pdf_dialog ul.list_b li {
  width: 150px;
  cursor: pointer;
}
.overlay_modal .send_pdf_dialog li.close {
  border-bottom-left-radius: 10px;
  background-color: #c62828;
}
.overlay_modal .send_pdf_dialog li.send {
  border-bottom-right-radius: 10px;
}
.overlay_modal .send_pdf_dialog p {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}
.overlay_modal .send_pdf_dialog a {
  display: block;
  padding: 15px;
  text-decoration: initial;
  color: #FFF;
}
/* Search checklist */
#checklist_options_container {
  padding: 5px 0px;
  text-align: center;
}
.ui-menu {
  background-color: white;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.ui-menu .ui-menu-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  color: #888;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  font-size: 14px;
}

/* Form */
.form_field {
  padding: 20px 8px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ECECEC;
}
.form_field p {
  margin-bottom: 10px;
}
.form_field textarea{
  width: 93%;
  padding: 10px 12px;
  border: 1px solid #000;
}
.form_field_text label{
  display: inline-block;
  width: 35%;
}
.form_field_text input{
  width: 56%;
  padding: 6px 12px;
  border: 1px solid #000;
  background-color: #FFF;
}
.form_field_boolean label{
  margin-right: 15px;
}
.take_picture_button{
  width: 120px;
  height: 30px;
}
.signatureField p{
  margin-top: 30px;
  padding-left: 25px;
}
#signature canvas{
  height: 500px;
}
.images_container{
  overflow: hidden;
}
.images_container .image_element{
  margin: 5px 5px 0 0;
  position: relative;
  float: left;
  border: 1px solid #ECECEC;
}
.images_container .delete_image_icon{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ECECEC;
  background: url('../img/delete.png') no-repeat #F1F1F1;
}
.input_a {
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px 3px;
  background-color: #FFF;
}

/* shorteners */
.mt15 {
  margin-top: 15px !important;
}
.pl10 {
  padding-left: 10px !important;
}

/* Grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}