html, body, div, span, h1, h2, h3, h4, h5, h6, a, p, ul, li, fieldset, form, label,
input, select, table, tbody, thead, tr, th, td, footer, header, nav{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul {
  list-style: none;
}
html, body {
    height: 100%;font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
}
body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
#contenedor {
    position:relative;
    background-color:white;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width:100%;
    margin: 0 auto -58px; /* mismo valor en negativo que #menu */
    background-color: #0099e5;
}

h1 {font-weight: normal;}

#top{
    background-color: #0489CC;
    color: white;
    text-align: center;
    padding: 8px 0 0px 0;
    min-height: 33px;
    border-bottom: solid 1px white;
   }
   
 #top  [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 24px;
    font-style: normal;
    margin-left: 10px;
}

#top .back {float: left;width: 0%;}
#top .back a{color: white; text-decoration: none;}
#top .titulo {float: left;width: 92%;padding-top: 3px;}
#top .current {float: left;width: 3%;}

#top .current span {

    background: #34bf49;
    border-radius: 3px;
    color: #fff;
    z-index: 99999;
    font-weight: 600;
    padding: 4px 7px;
    box-shadow: -1px 2px 3px rgba(0,0,0,.3), inset 0 2px 5px rgba(225,225,225,.3);
    font-size: 14px;
    }
    
@keyframes blink {
  50% {
    opacity: 0.0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.0;
  }
}
.blink {
  animation: blink 2s step-start 0s infinite;
  -webkit-animation: blink 2s step-start 0s infinite;
}

#top .current a{color: white; text-decoration: none;}


#login {background-color: #0099e5;
    height: auto !important;
    height: 100%;
    color: white;
}
#login.login_view {height: 100% !important}

#login .contenido {padding: 30px; text-align: center;}
#login .contenido .form {box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
    text-align: center;
    color: white;
    }
    
#login .contenido ::-webkit-input-placeholder {
   color: white;
}

#login .contenido :-moz-placeholder { /* Firefox 18- */
   color: white;  
}

#login .contenido ::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

#login .contenido :-ms-input-placeholder {  
   color: white;  
}

#login a {color: white; text-decoration: none;}

#login [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
margin-left: 0;
}

#menu {
    background-color:#0489CC;
    height: 58px; /* .mismo valor en positivo para el contenedor */
    position:relative;
    width:100%;
    margin:0 auto;
    text-align: center;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-family: -apple-system,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 10px;
}

#menu .col-3 { width: 33%; float: left;    padding-top: 4px;
    padding-bottom: 4px;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;width: 100%;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    color: white;}

#menu a {width: 100%;}
#menu a:hover {background: #0099e5;}
 
#menu .active {background: #0099e5;} 
    
#menu [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 27px;
    font-style: normal;
    margin-left: 0;
}


.button {
    background-color: #34bf49 !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    -webkit-appearance: none;
}

.buttonclose {
    background-color: #ff4c4c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    font-weight: bold;
    -webkit-appearance: none;
}

select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}



/* checklist inicio */



label {
  width: 50%;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
    margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
input.radio:focus ~


/* checklist final */