/*AZUL-> #0099e5 ROJO ->#ff4c4c VERDE-> #34bf49*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, li, fieldset, form, label,
input, select, table, tbody, thead, tr, th, td, footer, header, menu, nav{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ul {
  list-style: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:1;
  height:100%;
  width:100%;
  margin:0px;
  padding:0px;
  font-size: 1em;
}
.hidden{
  display: none;
}

/* Portrait layout (default) */
.app h1 {
  font-size: 1.3em;
  line-height: 1.4em;
  padding: 10px 0;
  text-align: center;
  background-color: #0099e5;
  color: #FFF;
}

.app.ios {
  padding-top: 20px;
}

.list_a {
  margin: 0 auto;
}
.list_a li {
  border-bottom: 1px solid #84ce8f;
  background-color: #34bf49;
}
.list_a li.signatureField {
  background-color: transparent;
}

.button {
  display: block;
  padding: 15px 10px;
  text-align: center;
  color: #FFF;
}
.button_back {
  background: url('../img/back.png') 18px 11px no-repeat;
}
.button_a {
  background-color: #F1F1F1;
}
.button_inactive {
  background-color: #b2e4ba;
}
.icon_delete {
  float: left;
  width: 5%;
  height: 46px;
  background: url('../img/delete.png') 0px 17px no-repeat;
}
.icon_send {
  float: left;
  width: 5%;
  height: 46px;
  background: url('../img/mail.png') 10px 17px no-repeat;
}
.center_screen {
  position: absolute;
  left: 50%;
  top: 50%;
}
#loading_view {
  height: 50px;
  width: 225px;
  text-align: center;
  margin: -25px 0px 0px -112px;
}
#error_view {
  height: 60px;
  width: 225px;
  text-align: center;
  margin: -75px 0px 0px -112px;
}
#overlay_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
}

#overlay_modal .loading {
  width: 150px;
  height: 100px;
  margin: -75px 0px 0px -85px;
  border-radius: 10px;
  text-align: center;
  padding: 50px 10px 0 10px;
  background-color: #FFF;
}

/* Form */
.section_content {}
.form_field {
  padding: 20px 8px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #ECECEC;
}
.form_field p {
  margin-bottom: 10px;
}
.form_field textarea{
  width: 93%;
  padding: 10px 12px;
  border: 1px solid #000;
}
.form_field_text label{
  display: inline-block;
  width: 35%;
}
.form_field_text input{
  width: 56%;
  padding: 6px 12px;
  border: 1px solid #000;
  background-color: #FFF;
}
.form_field_boolean label{
  margin-right: 15px;
}
.form_field_boolean .take_picture_button{
  width: 120px;
  height: 30px;
}
.signatureField p{
  margin-top: 30px;
  padding-left: 25px;
}
#signature canvas{
  height: 500px;
}
.images_container{
  overflow: hidden;
}
.images_container .image_element{
  margin: 5px 5px 0 0;
  position: relative;
  float: left;
  border: 1px solid #ECECEC;
}
.images_container .delete_image_icon{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #ECECEC;
  background: url('../img/delete.png') no-repeat #F1F1F1;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {

}

/* shorteners */
.mt15 {
  margin-top: 15px !important;
}
.w95pc {
  width: 95% !important;
}
.left {
  float: left;
}

/* Grid */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}